parameters:
	ignoreErrors:
		-
			message: '#^Method SoureCode\\Bundle\\Screen\\Tests\\BundleInitializationTest\:\:createKernel\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/BundleInitializationTest.php

		-
			message: '#^Method SoureCode\\Bundle\\Screen\\Tests\\Manager\\ScreenManagerTest\:\:createKernel\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Manager/ScreenManagerTest.php

		-
			message: '#^Method SoureCode\\Bundle\\Screen\\Tests\\Manager\\ScreenManagerTest\:\:getScreenManager\(\) should return SoureCode\\Bundle\\Screen\\Manager\\ScreenManager but returns object\.$#'
			identifier: return.type
			count: 1
			path: tests/Manager/ScreenManagerTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Manager/ScreenManagerTest.php
